<div class="container">
  <table class='highlight'>
    <thead>
      <tr>
        <th>
          <span ng-click='orderBy("name")'>
            Name
            <i class="material-icons tiny" ng-show='order === "name"'>keyboard_arrow_down</i>
            <i class="material-icons tiny" ng-show='order === "-name"'>keyboard_arrow_up</i>
          </span>
        </th>
        <th>
          <span ng-click='orderBy("velocity")'>
            Speed (KM/S)
            <i class="material-icons tiny" ng-show='order === "velocity"'>keyboard_arrow_down</i>
            <i class="material-icons tiny" ng-show='order === "-velocity"'>keyboard_arrow_up</i>
          </span>
        </th>
        <th>
          <span ng-click='orderBy("size")'>
            Size
            <i class="material-icons tiny" ng-show='order === "size"'>keyboard_arrow_down</i>
            <i class="material-icons tiny" ng-show='order === "-size"'>keyboard_arrow_up</i>
          </span>
        </th>
        <th>
          <span ng-click='orderBy("close_approach_distance")'>
            Distance (K)
            <i class="material-icons tiny" ng-show='order === "close_approach_distance"'>keyboard_arrow_down</i>
            <i class="material-icons tiny" ng-show='order === "-close_approach_distance"'>keyboard_arrow_up</i>
          </span>
        </th>
        <th>
          <span ng-click='orderBy("close_approach_date")'>
            CAD
            <i class="material-icons tiny" ng-show='order === "close_approach_date"'>keyboard_arrow_down</i>
            <i class="material-icons tiny" ng-show='order === "-close_approach_date"'>keyboard_arrow_up</i>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="neo in objects | orderBy: order">
        <td>
          {{neo.name}}
        </td>
        <td>
          {{neo.velocity}}
        </td>
        <td>
          {{neo.size}}
        </td>
        <td>
          {{neo.close_approach_distance}}
        </td>
        <td>
          {{neo.close_approach_date}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
