
<div class="container">
  <div class="table-wrapper row">
    <div class="col s2 left">
      <div ng-repeat="(catagory, types) in vm.catagories">
        <h5>{{catagory}}</h5>
        <div ng-repeat="(key, value) in types">
          <input type="checkbox" id="{{key}}" ng-model="vm.catagories[catagory][key]"/>
          <label for="{{key}}">{{key}}</label>
        </div>
      </div>
    </div>
    <table class='highlight col s10'>
      <thead>
        <tr>
          <th>
            <span ng-click='vm.orderBy("name")'>
              Name
              <i class="material-icons tiny" ng-show='vm.order === "name"'>keyboard_arrow_down</i>
              <i class="material-icons tiny" ng-show='vm.order === "-name"'>keyboard_arrow_up</i>
            </span>
          </th>
          <th>
            <span ng-click='vm.orderBy("velocity")'>
              Speed (KM/S)
              <i class="material-icons tiny" ng-show='vm.order === "velocity"'>keyboard_arrow_down</i>
              <i class="material-icons tiny" ng-show='vm.order === "-velocity"'>keyboard_arrow_up</i>
            </span>
          </th>
          <th>
            <span ng-click='vm.orderBy("size")'>
              Size
              <i class="material-icons tiny" ng-show='vm.order === "size"'>keyboard_arrow_down</i>
              <i class="material-icons tiny" ng-show='vm.order === "-size"'>keyboard_arrow_up</i>
            </span>
          </th>
          <th>
            <span ng-click='vm.orderBy("close_approach_distance")'>
              Distance (K)
              <i class="material-icons tiny" ng-show='vm.order === "close_approach_distance"'>keyboard_arrow_down</i>
              <i class="material-icons tiny" ng-show='vm.order === "-close_approach_distance"'>keyboard_arrow_up</i>
            </span>
          </th>
          <th>
            <span ng-click='vm.orderBy("close_approach_date")'>
              CAD
              <i class="material-icons tiny" ng-show='vm.order === "close_approach_date"'>keyboard_arrow_down</i>
              <i class="material-icons tiny" ng-show='vm.order === "-close_approach_date"'>keyboard_arrow_up</i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="neo in vm.objects | orderBy: vm.order | catagoryFilter: vm.catagories.size:'sizeCatagory' | catagoryFilter: vm.catagories.distance:'distanceCatagory' | dateFilter: vm.catagories.date">
          <td>
            <a href="#/objects/{{neo.id}}">{{neo.name}}</a>
          </td>
          <td>
            {{neo.velocity}}
          </td>
          <td>
            {{neo.size}}
          </td>
          <td>
            {{neo.close_approach_distance}}
          </td>
          <td>
            {{neo.close_approach_date}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
