/*<---------------------site wide styles ------------------------->*/
html {
  background: url("https://objects-in-space.herokuapp.com/astroland.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{

}
h1, h2, h3, h4, h5, h6 {
font-family: 'Squada One', cursive;
color:#ffc400;
text-shadow: black 0.1em 0.1em 0.2em;
}
p{
  font-family: 'Allerta', sans-serif;
  color: light green;
}
/*<---------------------navigation styles ------------------------>*/
.nav-wrapper{
  background-color: rgba(0, 0, 0, 1);
  font-family: 'Squada One', cursive;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 1px solid #b8b8b8;
}
.notification-span{
  font-family: 'Squada One', cursive;
  color:#ffc400;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 2em;
  padding-right: 4%;
}
/*<------------------ general content styles --------------------->*/
.content-wrapper{
  color: #00FFEE;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  margin: auto;
  margin-top: 1%;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 2%;
}
.table-wrapper{
  color: #00FFEE;
  background-color: rgba(255, 255, 255, 0.3);
  margin: auto;
  margin-top: 1%;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 2%;
}
.info-div{
  width: 50%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  padding-top: 5px;
  border-radius: 30px;
}
label.table-filter{
  color:#00FFEE;
}
