<!DOCTYPE html>
<html>
<head>
  <title>ObjectsInSpace</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Squada+One|Allerta' rel='stylesheet' type='text/css'>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://momentjs.com/downloads/moment.min.js"></script>
  <link rel="manifest" href="/manifest.json">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="ObjectsInSpace">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Objects In Space</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons" >menu</i>
      </a>
      <div class="right switch">
        <label><span class="notification-span">Enable NEO notifications:</span>
          Off
          <input type="checkbox" class='notifications-checkbox'>
          <span class="lever"></span>
          On
        </label>
      </div>
    </div>
  </nav>
  <div ng-view>
  </div>
</body>
</html>
