<!DOCTYPE html>
<html>
<head>
  <title>ObjectsInSpace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="ObjectsInSpace">
  <nav>
   <div class="nav-wrapper">
     <a href="#!" class="brand-logo">Objects In Space</a>
     <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
       <li><a href="#">Login</a></li>
       <li><a href="#">Signup</a></li>
     </ul>
     <ul class="side-nav" id="mobile-demo">
       <li><a href="#">Login</a></li>
       <li><a href="#">Signup</a></li>
     </ul>
   </div>
 </nav>
  <div ng-view>
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".button-collapse").sideNav();
  });
</script>
</body>
</html>
