<!DOCTYPE html>
<html>
<head>
  <title>ObjectsInSpace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link rel="manifest" href="assets/javascripts/angular/manifest.json">
</head>
<body ng-app="ObjectsInSpace">
  <div ng-view>
  </div>
</body>
</html>
